h3 {
    text-align: center;
    font-size: 8vh;
}

p {
    font-size: 3vh;
    margin-right: 15vw;
}

input {
    width: 10vw;
}

#breakDiv {
    border: 1px solid black;
    margin: 0 auto;
    width: 40vw;
}

#exampleDiv {
    text-align: center;
}