body {
    background-color: palegreen;
}

h2 {
    text-align : center;
}

div {
    text-align: center;
  }

#farm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height:50vh;
    opacity: 50%;
  }

  .button {
    background-color: gold;
    border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    margin: 8px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 18vh;
    width: 25vw;
  }
  
  .button:hover {
    background-color: orange;
    color: white;
  }
  
  #back {
    height: 10vh;
    width: 18vw;
  }