body {
    background-color: palegreen;
}

h2 {
    text-align : center;
}

#farm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:70%;
    opacity: 50%;
  }