body {
    background-color: palegreen;
}

h3 {
    text-align: center;
    font-size: 8vh;
}

p {
    font-size: 3vh;
    margin-right: 7vw;
    text-align: center;
}

input {
    width: 10vw;
}

#settingsDiv {
    border: 1px solid black;
    margin: 0 auto;
    width: 30vw;
}

td {
    text-align: center;
}

#myform {
    margin-left: auto;
    margin-right: auto;
    text-align : center;
}

#goback {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    border: 2px solid black;
    background-color: gold;
    color: black;
    display: block;
    font-size: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: white;
}